<div class="flex mt-5 ml-4">
    <header>
        <nav>
            <ul>
                <li *ngFor="let m of menu" class="pb-5">
                    <button
                        class="hover:bg-blue-100 text-black text-3xl font-bold py-2 px-4 w-full"
                    >
                        {{ m.name }}
                    </button>
                </li>
            </ul>
        </nav>
    </header>
    <main class="flex flex-col align-middle justify-center gap-2">
        <div class="flex gap-2">
            <button
                (click)="handleClickRefresh()"
                class="{{ this.snip ? 'animate-spin' : '' }}"
            >
                <img src="../../assets/Imagen/refresh.svg" alt="" />
            </button>
            <p>
                {{ this.snip ? "Refreshing..." : "Refresh" }}
            </p>
        </div>
        <div>
            <p class="text-lg opacity-30 font-bold">Folder</p>
            <div class="grid grid-rows-2 grid-cols-3 gap-3 max-w-6xl">
                <section
                    *ngFor="let directory of AllFiles.directory"
                    class="gap-1 flex align-middle p-2 border shadow-md hover:bg-blue-100"
                >
                    <img src="../../assets/Imagen/folder.svg" alt="directory" />
                    <p
                        role="none"
                        class="cursor-pointer text-3xl font-bold w-full"
                        (click)="handleClickFileNext(directory)"
                    >
                        {{ directory }}
                    </p>
                </section>
                <div class="gap-1 flex align-middle p-2 border shadow-md">
                    <img src="../../assets/Imagen/folder.svg" alt="folder" />
                    <p
                        role="none"
                        class="cursor-pointer text-3xl font-bold w-full"
                        (click)="handleClickFilePrev()"
                    >
                        ...
                    </p>
                </div>
            </div>
            <div class="pt-2">
                <p class="text-lg opacity-30 font-bold">Files</p>
                <div class="grid grid-rows-2 grid-cols-4 gap-3">
                    <section
                        *ngFor="let file of AllFiles.files"
                        class="flex gap-1 align-middle p-2 border shadow-md hover:bg-blue-100"
                    >
                        <img src="../../assets/Imagen/file.svg" alt="" />
                        <p class="cursor-pointer text-3xl font-bold w-full">
                            {{ reduceTextSize(file) }}
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </main>
</div>
